* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(
        90deg,
        #ffd7ba 0%,
        #f9dbc6 100%
    );
}

.ToDo-App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #f8edeb;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: 5px 5px 20px gray;
  }
  
  h1 {
    margin: 32px 0;
    color: black;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #d8e2dc;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
    box-shadow: 2px 2px 3px gray;
  }
  
  .todo-input::placeholder {
    color: black;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      #d8e2dc 0%,
      #e2f2e8 110%
    );
    box-shadow: 2px 2px 3px gray;
    color: black;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #d8e2dc;
    outline: none;
    width: 300px;
    background: transparent;
    color: black;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      #d8e2dc 0%,
      #e2f2e8 110%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    color: black;
    box-shadow: 2px 2px 3px gray;
    background: #fbc5bc;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: #fad3cd;
  }
  
  .todo-row:nth-child(4n + 2) {
    background: #d5dae8
  }
  
  .todo-row:nth-child(4n + 3) {
    background: #e8e8d4;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: gray;
  }
  
  .edit-icon {
    color: gray;
  }
